html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

  
    --font-size-base: 16px;

    --ls-tight: 0.02em;
    --ls-normal: 0.03em;
    --ls-wide: 0.06em;

    --lh-auto: 1.2;


    --color-text-main: #212121;
    --color-text-secondary: #757575;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f5f4fa;
    --color-accent: #2196f3;

}

body {
background-color: var(--color-bg-primary);

font-family: var(--font-family);    
font-size: var(--font-size-base);
color: var(--color-text-main);
line-height: var(--lh-auto);
letter-spacing: var(--ls-normal);
font-weight: 400;
}

.container {
  max-width:1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo-link {
margin-right:93px;

    color:inherit;
    font-family: var(--second-family);
    font-size: 26px;
    font-weight: 700;
}

.logo-accent {
    color:var(--color-accent);
}


.nav-list,.header-container {
    display:flex;
}

.contact-list{
    display: flex;
    margin-left: auto;
}

.nav-link{font-size: 14px;
letter-spacing: var(--ls-tight);
font-weight: 500;
color: var(--color-text-main);
}

.nav-link.current {
    color: var(--color-accent);
}

.nav-list:not(last-child),.header-contact:not(las-child){
    margin-right: 50px;
}

.header-contact {
    font-size: 14px;
        letter-spacing: var(--ls-tight);
        font-weight: 500;
        color:var(--color-text-secondary);
}



.nav-link:hover,
.nav-link:focus,
.header-contact:hover,
.header-contact:focus{
    color:var(--color-accent);
}

.hero{
    background-color: #2F303A;
    
    
}

.hero-title{
font-size: 44px;
    font-weight: 900;
    line-height:1.36;
    text-transform:uppercase;
    color:var(--color-bg-primary);
    letter-spacing: var(--ls-wide);
    text-align: center;
}

.hero-button{
    min-width: 216px;
    border-radius: 4px;

    text-align: center;
    letter-spacing: var(--ls-wide);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    color: var(--color-bg-primary);

    background-color: var(--color-accent);

    cursor:pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-title {
    font-size: 14px;
    font-weight: 700;
}

.feature-text {
    color: var(--color-text-secondary);
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
font-size: 36px;
 font-weight: 700;
 text-align: center;
}


.team-title{
font-weight: 500;
text-align: center;
  
}

.team-text{
text-align: center;
color: var(--color-text-secondary);
}

.footer {
    background-color: #2F303A;;
}

.logo-footer{
    color: var(--color-bg-primary);
}

.contact{
    font-style: normal;
}

.contact-address{
    color: var(--color-bg-primary);
    font-size: 14px;
    line-height: 1.71;
}
.contact-link{
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
    line-height: 1.71;
}

.contact-link:hover,.contact-link:focus{
    color: var(--color-accent);
}

.filter-button{
border-radius: 4px;
cursor: pointer;
    line-height: 1.625;
    text-align: center;
    font-weight: 500;
    background-color: var(--color-bg-secondary);
}

.filter-button:hover, .filter-button:focus {
    background-color: var(--color-accent);
    color: var(--color-bg-primary);
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--ls-wide);
    color: var(--color-text-main);
}

.portfolio-text {
        line-height: 1.875;
        color: var(--color-text-secondary);
                     
}